body
{
    /*background-color: darkseagreen;*/
    /*background-image: url("http://i67.tinypic.com/2d0ma12.jpg");*/
    /*background-image: url('http://localhost:8080/public/images/background.png');*/
    background-image: url('../images/background.png');
    /*background-size: cover;*/
    font-family: Arial,VCR,Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
    font-size: 14px;
}
        input[type=text], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border: none;
        background-color: whitesmoke;
        color: white;
        }
        button{
             background-color: #353839; /* Onyx */
                border: none;
                color: white;
                padding: 15px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
        }
        fieldset{
            border: none;
        }
        
        table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 80%;
        }

        td, th {
        border: 1px solid #ffffff;
/*        text-align: left;*/
        padding: 8px;
        }

        tr{
/*        background-color: #dddddd;*/
        }
        img{
            width: 100px;
            height: 100px;
        }
        ul{
            list-style: none;
        }
    
a:visited{
    color: whitesmoke;
}
a{
    text-decoration: none;
    color: whitesmoke;
}